Flowcreator_programma.json
[{"id":"a74175a434307d3e","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"b01a11e5cf03d173","type":"mqtt in","z":"a74175a434307d3e","name":"","topic":"ie/d/j/simatic/v1/s7c1/dp/r/#","qos":"2","datatype":"auto-detect","broker":"62753f71c13f5796","nl":false,"rap":true,"rh":0,"inputs":0,"x":290,"y":240,"wires":[["b5e655e31223ef2e"]]},{"id":"b5e655e31223ef2e","type":"function","z":"a74175a434307d3e","name":"function 2","func":"\n//Alle waarden worden overlopen en opgeslagen met hun id in een aparte variabele\nmsg.payload.vals.forEach(entry => {\n    flow.set(\"plc_\" + entry.id, entry.val); \n});\n\n// De timestamp wordt ook uit het bericht genomen en opgeslagen.\nif (msg.payload.vals.length > 0) {\n    flow.set(\"plc_timestamp\", msg.payload.vals[0].ts);\n}\n\n\n\nreturn msg;\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":240,"wires":[["a6856e07c13a82ee"]]},{"id":"6937eea32cedd902","type":"mqtt in","z":"a74175a434307d3e","name":"","topic":"data/slice","qos":"2","datatype":"auto-detect","broker":"62753f71c13f5796","nl":false,"rap":true,"rh":0,"inputs":0,"x":240,"y":460,"wires":[["60d7f4ca443871f2"]]},{"id":"60d7f4ca443871f2","type":"function","z":"a74175a434307d3e","name":"function 3","func":"// Haal alle velden uit de JSON\nvar data = msg.payload;\n\n// Definieer de tabelnaam\nvar tableName = \"meetdata\";\n\n// Vervang de puntjes in de sleutels door underscores en zet alles in kleine letters\nvar modifiedData = {};\nfor (var key in data) {\n    if (data.hasOwnProperty(key)) {\n        var modifiedKey = key.replace(/\\./g, '_').toLowerCase(); // Vervang puntjes door underscores en zet om naar kleine letters\n        modifiedData[modifiedKey] = data[key];\n    }\n}\n\n// Haal de kolomnamen en waarden uit de gemodificeerde JSON\nvar columns = Object.keys(modifiedData)\n    .map(key => `\"${key}\"`) // Zet kolomnamen tussen dubbele aanhalingstekens\n    .join(\", \");\n\nvar values = Object.values(modifiedData)\n    .map(value => (typeof value === \"string\" ? `'${value}'` : value)) // Zet strings tussen enkele quotes\n    .join(\", \");\n\n// Genereer de dynamische SQL-query\nmsg.payload = `INSERT INTO ${tableName} (${columns}) VALUES (${values})`;\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":460,"wires":[["66e8e670f0b37afd"]]},{"id":"a6856e07c13a82ee","type":"change","z":"a74175a434307d3e","name":"","rules":[{"t":"set","p":"values.lotnummer","pt":"msg","to":"plc_101","tot":"flow"},{"t":"set","p":"values.batchnummer","pt":"msg","to":"plc_102","tot":"flow"},{"t":"set","p":"values.stapnummer_tank_1","pt":"msg","to":"plc_103","tot":"flow"},{"t":"set","p":"values.stapnummer_tank2","pt":"msg","to":"plc_104","tot":"flow"},{"t":"set","p":"values.stapnummer_ww","pt":"msg","to":"plc_105","tot":"flow"},{"t":"set","p":"values.temperatuursensor_na_ww","pt":"msg","to":"plc_106","tot":"flow"},{"t":"set","p":"values.temperatuursensor_ww","pt":"msg","to":"plc_110","tot":"flow"},{"t":"set","p":"values.temperatuursensor_tank2","pt":"msg","to":"plc_108","tot":"flow"},{"t":"set","p":"values.temperatuursensor_tank1","pt":"msg","to":"plc_109","tot":"flow"},{"t":"set","p":"values.debietmeter","pt":"msg","to":"plc_107","tot":"flow"},{"t":"set","p":"values.timestamp","pt":"msg","to":"plc_timestamp","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"values","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":240,"wires":[["b23b7ac91dcfec34"]]},{"id":"e8f1008dbf628ac1","type":"mqtt in","z":"a74175a434307d3e","name":"","topic":"ie/m/j/simatic/v1/s7c1/dp","qos":"2","datatype":"auto-detect","broker":"62753f71c13f5796","nl":false,"rap":true,"rh":0,"inputs":0,"x":290,"y":700,"wires":[["4429c5e13aa7e08e"]]},{"id":"4429c5e13aa7e08e","type":"debug","z":"a74175a434307d3e","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":580,"y":700,"wires":[]},{"id":"66e8e670f0b37afd","type":"postgres","z":"a74175a434307d3e","postgresdb":"7086f541406b54e4","name":"","output":true,"perrow":false,"rowspermsg":"1","return_on_error":false,"limit_queries":"0","limit_by":"payload","limit_value":"1","limit_drop_intermediate":false,"limit_drop_if_in_queue":false,"outputs":true,"x":940,"y":460,"wires":[[]]},{"id":"b23b7ac91dcfec34","type":"influxdb out","z":"a74175a434307d3e","influxdb":"359cb242310bf3a0","name":"influx","measurement":"PLC_data","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"PLC_data","bucket":"PLC_data","x":890,"y":240,"wires":[]},{"id":"62753f71c13f5796","type":"mqtt-broker","name":"ie-databus","broker":"ie-databus","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"7086f541406b54e4","type":"postgresdb","cfgname":"","hostname":"192.168.180.144","port":"5432","db":"grafana_db","ssl":false},{"id":"359cb242310bf3a0","type":"influxdb","hostname":"influxdb","port":"8086","protocol":"http","database":"plc_data","name":"influxdb","usetls":false,"tls":"e21d086ecce6fe42","influxdbVersion":"2.0","url":"http://192.168.180.144:8086/","timeout":"2","rejectUnauthorized":true},{"id":"e21d086ecce6fe42","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true,"alpnprotocol":""}]